#!/usr/bin/make -f

%:
	dh $@

# Get the target styles
styles_orig := $(wildcard src/less/themes/anew/*.less)
styles_orig += $(wildcard src/less/themes/default/*.less)
styles_orig += $(wildcard src/less/themes/midgar/*.less)
styles_orig += $(wildcard src/less/*.less)
# to individual dir+non-extension names
styles := $(patsubst src/less/%.less,%,$(styles_orig))
# end-result files
styles_out := $(patsubst %,build/css/%.min.css,$(styles))

fonts := opensans-bold opensans-regular
fonts_out := $(patsubst %,build/fonts/%.woff,$(fonts))
fonts_src := $(patsubst %,build/fonts/%.ttf,$(fonts))

override_dh_clean-indep:
	dh_clean -i
	# Make sure to only ship what we've rebuilt
	find build/css/ -type f -delete
	# Temporary font files
	rm -f $(fonts_out) $(fonts_src)

override_dh_auto_build-indep: $(styles_out) $(fonts_out)
	dh_auto_build -i

build/css/%.min.css: src/less/%.less
	mkdir -p `dirname $@`
	lessc -x $< > $@

build/fonts:
	mkdir -p $@

build/fonts/opensans-bold.ttf: build/fonts
	cp /usr/share/fonts/truetype/open-sans/OpenSans-Bold.ttf $@

build/fonts/opensans-regular.ttf: build/fonts
	cp /usr/share/fonts/truetype/open-sans/OpenSans-Regular.ttf $@

build/fonts/opensans-%.woff: build/fonts/opensans-%.ttf
	sfnt2woff $<
